<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>231245692650-liummuhhv08t2jo01kvkge4a8s4995jt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.231245692650-liummuhhv08t2jo01kvkge4a8s4995jt</string>
	<key>API_KEY</key>
	<string>AIzaSyDIkc6Y-chpsROafwuDarxm2L_TJcSjEhU</string>
	<key>GCM_SENDER_ID</key>
	<string>231245692650</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.firebaseauth</string>
	<key>PROJECT_ID</key>
	<string>rnfirebaseauth-2e922</string>
	<key>STORAGE_BUCKET</key>
	<string>rnfirebaseauth-2e922.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:231245692650:ios:37d30d85ba7ec74557a193</string>
</dict>
</plist>